:root {
  --primary: #5ad8b2;
  --secondary: #555;
  --error: #ff4a4a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
#App {
  margin: 0 auto;
  max-width: 1680px;
}
.error {
  color: var(--error);
}
